<div class="table-container">
  <table>
    <!-- Заголовок -->
    <thead>
    <tr class="sticky-header">
      <th class="table-name-title">
        <div class="table-title-flex">
          <span class="title-text">Наименование товара</span>
          <input
            *ngIf="searchActive"
            #searchInput
            type="text"
            class="search-input"
            placeholder="Начните вводить..."
            (input)="onSearchInput($event)"
            (keydown)="onSearchKeydown($event)"
          >
          <button class="search-btn" (click)="toggleSearch()">
            <img class="icon" src="assets/svg/search-icon1.svg" alt="Найти">
            Поиск
          </button>
        </div>
      </th>
      <th>
        <div class="table-title-flex" (click)="sortBy('quantityBuy')">
          Кол-во товаров (шт)
          <span class="sort-icon">
      <mat-icon *ngIf="sortColumn === 'quantityBuy'">
        {{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
      </mat-icon>
    </span>
        </div>
      </th>
      <th>
        <div class="table-title-flex" (click)="sortBy('costPrice')">
          Стоимость (руб)
          <span class="sort-icon">
      <mat-icon *ngIf="sortColumn === 'costPrice'">
        {{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
      </mat-icon>
    </span>
        </div>
      </th>
    </tr>
    </thead>

    <!-- Основное содержимое -->
    <tbody>
    <tr
      *ngFor="let product of filteredProducts">
      <td class="table-list-name">
        <div class="name-and-button">
          <label class="custom-checkbox"
                 (mousedown)="onCheckboxMouseDown($event, product)"
                 (mouseenter)="onCheckboxMouseEnter($event, product)"
                 (mouseup)="onCheckboxMouseUp()"
                 [class.dragging]="isDragging">
            <input
              type="checkbox"
              [(ngModel)]="product.checked"
              (click)="onCheckboxClick($event, product)"
            />
            <span class="checkmark"></span>
            <span class="product-name-text">{{ product.name }}</span>
          </label>
          <button
            class="graph-button"
            (click)="onGraphButtonClick($event, product)"
            title="Показать графики">
            <mat-icon class="btn-open-graphs">query_stats</mat-icon>
          </button>
        </div>
      </td>
      <td>
        <div class="table-list-flex">
          {{ product.quantityBuy }}
        </div>
      </td>
      <td>
        <div class="table-list-flex">
          {{ product.costPrice }}
        </div>
      </td>
    </tr>
    </tbody>

    <!-- Подвал -->
    <tfoot>
    <tr class="sticky-footer">
      <td class="table-list-name">
        <div class="table-list-flex-end">
          <b>Итого:</b>
        </div>
      </td>
      <td>
        <div class="table-list-flex">
          <b>{{ totalQuantity | number }} шт</b>
        </div>
      </td>
      <td>
        <div class="table-list-flex">
          <b>{{ totalPrice | number }} руб</b>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<app-product-graph-modal
  *ngIf="showModal"
  [product]="modalProduct"
  [top]="modalTop"
  [left]="modalLeft"
  (onClose)="closeModal()"
></app-product-graph-modal>
