.main-right-block-div{
  border: 1px solid blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}


.btn-show-detail{
  display: flex;
  width: 75%;
  padding: 0;
  height: 60px;
  font-size: 18px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.btn-show-detail:hover{
  background-color: var(--primary-yellow-color);
  border: 1px solid var(--dark-gray-color);
  color: var(--primary-green-color);
  fill: var(--primary-green-color);
}

.btn-get-report{
  display: flex;
  width: 75%;
  padding: 0;
  height: 60px;
  font-size: 18px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.btn-get-report:hover{
  background-color: var(--primary-yellow-color);
  border: 1px solid var(--dark-gray-color);
  color: var(--primary-green-color);
  fill: var(--primary-green-color);
}

.btn-show-detail img{
  margin-left: 10px;
}

.btn-show-detail-div{
  display: flex;
  height: 60px;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 340px;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}
