<div class="main-left-block-div">
  <app-calendar></app-calendar>
  <app-filter-food></app-filter-food>
  <div class="btn-past-reports-div">
    <button
      class="btn btn-download-file"
      (click)="openModal()"
      [ngClass]="uploadedFileName ? 'btn-green' : 'btn-yellow'">
      <ng-container *ngIf="!uploadedFileName; else fileNameTpl">
        Загрузить файл
      </ng-container>
      <ng-template #fileNameTpl>
        {{ uploadedFileName }}
        <mat-icon color="primary">check</mat-icon>
      </ng-template>
    </button>
  </div>
</div>

<app-modal-upload-file
  *ngIf="showModal"
  (close)="closeModal()"
  (fileUploaded)="onFileUploaded($event)">
</app-modal-upload-file>
